//
   Created by Don Le on 5/10/2017.
include ./com/mixins
block declare
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Lofficiel video
        meta(name='description', content='Lofficiel video')
        meta(name='author', content='Don Le, Sutrix')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='css/style.css?v=1.0')
        //if lt IE 9
            script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
    body(class=pageClass, data-controller=controller)
        include ./com/header
        .page-content
            block content
        include ./com/footer